<h2>Colors</h2>
<% @colors.each do |color_group| %>
  <h3><%= color_group.title %></h3>
  <div class='color-sample-container'>
    <% color_group.colors.each do |color| %>
      <div class='color-sample'>
        <div class='color-swatch' style='background-color: <%= color.value %>'>
        </div>
        <div class='color-variable-name'>
          <%= color.variable %>
        </div>
        <div class='color-name'>
          <%= color.value %>;
        </div>
      </div>
    <% end %>
  </div>
<% end %>
