<h2>Colors</h2>
<% @colors.each do |color_group| %>
  <% color_title = color_group.title.split(" from ") %>
  <h3><%= link_to color_title[0], color_title[1] %></h3>
  <div class='color-sample-container'>
    <% color_group.colors.each do |color| %>
      <div class='color-sample'>
        <div class='color-swatch' style='background-color: <%= color.value %>'>
        </div>
        <div class='color-variable-name'>
          <%= color.variable %>
        </div>
        <div class='color-name'>
          <%= color.value %>;
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<h2>Bootstrap Theme</h2>
<div class="row">

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-primary text-white">Primary</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-secondary text-white">Secondary</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-success text-white">Success</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-danger text-white">Danger</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-warning text-dark">Warning</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-info text-white">Info</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-light text-dark">Light</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-dark text-white">Dark</div>
    </div>

</div>

<div class="row">


    <div class="col-md-4">
        <div class="p-3 mb-3 swatch-blue">Blue</div>
    </div>



    <div class="col-md-4">
        <div class="p-3 mb-3 swatch-indigo">Indigo</div>
    </div>



    <div class="col-md-4">
        <div class="p-3 mb-3 swatch-purple">Purple</div>
    </div>



    <div class="col-md-4">
        <div class="p-3 mb-3 swatch-pink">Pink</div>
    </div>



    <div class="col-md-4">
        <div class="p-3 mb-3 swatch-red">Red</div>
    </div>



    <div class="col-md-4">
        <div class="p-3 mb-3 swatch-orange">Orange</div>
    </div>



    <div class="col-md-4">
        <div class="p-3 mb-3 swatch-yellow">Yellow</div>
    </div>



    <div class="col-md-4">
        <div class="p-3 mb-3 swatch-green">Green</div>
    </div>



    <div class="col-md-4">
        <div class="p-3 mb-3 swatch-teal">Teal</div>
    </div>



    <div class="col-md-4">
        <div class="p-3 mb-3 swatch-cyan">Cyan</div>
    </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">

      <div class="p-3 swatch-100">100</div>

      <div class="p-3 swatch-200">200</div>

      <div class="p-3 swatch-300">300</div>

      <div class="p-3 swatch-400">400</div>

      <div class="p-3 swatch-500">500</div>

      <div class="p-3 swatch-600">600</div>

      <div class="p-3 swatch-700">700</div>

      <div class="p-3 swatch-800">800</div>

      <div class="p-3 swatch-900">900</div>

  </div>
</div>
