@import 'identity/digital-color';

$cardinal-red: $su-cardinal-red;
$gray: $su-warm-gray;
$gray-41-percent: #696969;
$gray-46-percent: #767676;
$gray-60-percent: #8a887d;
$gray-70-percent: #b3b3b3;
$gray-80-percent: #ccc;
$gray-90-percent: #565347;
$beige-10-percent: #f2f1eb;
$beige-20-percent: #e9e6df;
$beige-30-percent: #e3dfd5;
$beige-40-percent: #d5d0c0;
$beige-5-percent: #fbfbf9;
$gray-brown: #81785a;
$pantone-405: $su-clay;
$pantone-334: $su-mint;
$pantone-2925: $su-sky;

$sul-footer-bg-color: $beige-10-percent !default;
$sul-shadow-color: rgba(0, 0, 0, .2);

$topnav-link-border-color: $cardinal-red;
