<!DOCTYPE html>
<html>
<head>
  <title>Stanford University Libraries - Style Guide</title>
  <%= stylesheet_link_tag 'styleguide', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<h1>Stanford University Libraries - Style Guide</h1>
<div class='navigation'>
  <ul>
    <li>
      <%= link_to 'Colors', 'colors' %>
    </li>
    <li>
      <%= link_to 'Icons', 'icons' %>
    </li>
  </ul>
</div>
<%= yield %>

</body>
</html>
